<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="http://localhost:3333/css/productDetail.css">
        <title>Producto - GreenThumb</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="main-product">
                <div class="main-product-rec">
                    <!--Productos recomendados-->
                    <h2>Productos Recomendados</h2>
                    <ul class="productos-recomendados">
                        <% for (let i=0; i < data.length; i++) { %>
                            <% if (data[i].id !=producto.id) { %>
                                <li class="productos-recomendados-item">
                                    <a href="/product/<%=data[i].id%>/view"><img
                                            src="/images/products/<%=data[i].image%>" alt="<%=data[i].name%>">
                                        <i class="fas fa-cart-plus"></i>
                                        <h3>
                                            <%=data[i].name%>
                                        </h3>
                                        <h2>$<%=data[i].price%>
                                        </h2>
                                    </a>
                                </li>
                                <%} %>
                                    <%} %>

                    </ul>
                </div>

                <div class="main-product-pic">
                    <!--Imagen y carrusel-->
                    <div class="gallery gallery-a js-flickity"
                        data-flickity-options='{ "wrapAround": true, "freeScroll": true, "fullscreen" : true, "pageDots" : false }'>
                        <div class="main-carousel-banner">
                            <img src="/images/products/<%=producto.image%>" height="600" width="600"
                                alt="<%=producto.name%>">
                        </div>
                    </div>
                    <div class="gallery gallery-b js-flickity"
                        data-flickity-options='{ "asNavFor": ".gallery-a", "wrapAround": true, "freeScroll": true }'>
                        <div class="main-carousel-nav">
                            <img src="/images/products/<%=producto.image%>" height="100" width="100"
                                alt="<%=producto.name%>">
                        </div>
                    </div>

                </div>

                <div class="main-product-info">
                    <!--Información del producto-->
                    <h1>
                        <%=producto.name%>
                    </h1>
                    <h3>Disponibles: <%=producto.stock%>
                    </h3>
                    <p>
                        <%=producto.description%>
                    </p>

                    <h2>$<%=producto.price%>
                    </h2>
                    <div class="label-and-select">
                        <label for="size-select">
                            <h2>Tamaño</h2>
                        </label>
                        <div class="main-product-info-select-size" id="size-select">
                            <select class="select-size-box">
                                <option>Elige un Tamaño</option>
                                <option>Semillero</option>
                                <option>Brote</option>
                                <option>Miniatura</option>
                                <option>Grande</option>
                            </select>
                        </div>
                    </div>
                    <div class="label-and-select">
                        <label for="color-select">
                            <h2>Color</h2>
                        </label>
                        <div class="main-product-info-select-color" id="color-select">
                            <select class="select-color-box">
                                <option>Elige un Color</option>
                                <option>Maceta blanca</option>
                                <option>Maceta azul</option>
                                <option>Sin Maceta</option>
                            </select>
                        </div>
                    </div>

                    <% if (producto.seller_id==user.id) { %>
                        <div class="carrito-button-holder">
                            <a href="/product/<%=producto.id%>/edit">
                                <button class="carrito-button">
                                    <h1>Editar producto </h1>
                                </button>
                            </a>
                        </div>
                        <div class="carrito-button-holder">
                            <a href="/product/<%=producto.id%>/delete">
                                <button class="carrito-button delete" color="red">
                                    <h1>Eliminar producto </h1>
                                </button>
                            </a>
                        </div>
                        <% } else { %>
                            <div class="carrito-button-holder">
                                <a href="/product/cart">
                                    <button class="carrito-button">
                                        <h1>Agregar al carrito <i class="fas fa-cart-plus"></i></h1>
                                    </button>
                                </a>
                            </div>
                            <% }%>


                </div>

            </div>

            <div class="main-reviews">
                <h1>Reseñas <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></h1>
                <div class="main-reviews-left">
                    <article class="main-reviews-left-item">
                        <h2>Lorem ipsum</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio provident aliquid officiis
                            itaque, temporibus accusamus nostrum unde cum voluptatibus, nulla consequuntur! Ut nam hic
                            id iste veniam aliquam, est perferendis.</p>
                        <h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="far fa-star"></i></h3>
                    </article>
                    <article class="main-reviews-left-item">
                        <h2>Lorem ipsum</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio provident aliquid officiis
                            itaque, temporibus accusamus nostrum unde cum voluptatibus, nulla consequuntur! Ut nam hic
                            id iste veniam aliquam, est perferendis.</p>
                        <h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></h3>
                    </article>
                </div>
                <div class="main-leave-review">
                    <h1>Dejar una reseña</h1>
                    <div class="review-stars">
                        <h3><i class="fas fa-star"></i> </h3>
                        <h3><i class="fas fa-star"></i> </h3>
                        <h3><i class="fas fa-star"></i> </h3>
                        <h3><i class="fas fa-star"></i> </h3>
                        <h3><i class="fas fa-star"></i> </h3>
                    </div>
                    <div>
                        <input type="text">
                    </div>
                    <div class="review-button-holder">
                        <button class="review-button">
                            <h2>Enviar reseña </h2>
                        </button>
                    </div>
                </div>

            </div>
        </main>
        <%- include('../partials/footer') %>

</body>

</html>