<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="http://localhost:3333/css/index.css">
        <title>GreenThumb</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="main-carousel">
                <div class="main-gallery js-flickity"
                    data-flickity-options='{ "cellAlign": "left", "contain": true, "freeScroll": true, "wrapAround": true}'>
                    <div class="main-carousel-banner">
                        <img src="images/mkt/banner1.png" height="400" width="800" alt="Envíos nacionales">
                    </div>
                    <div class="main-carousel-banner">
                        <img src="images/mkt/banner2.png" height="400" width="800" alt="Plantas decorativas">
                    </div>
                    <div class="main-carousel-banner">
                        <a href="/product"> <img src="images/mkt/banner3.png" height="400" width="800" alt="Cactus"></a>
                    </div>
                </div>
            </div>
            <div class="main-showcase-copy">
                <h1>Lo más popular</h1>
            </div>
            <div class="main-showcase">
                <% for (let i=0; i < products.length; i++) { %>

                    <article class="main-showcase-producto">
                        <a href="/product/<%=products[i].id%>/view">
                            <img src="images/products/<%=products[i].image%>" alt="<%=products[i].name%>"
                                class="product-img">
                            <div class="main-article">
                                <a href="/product/cart" class="main-showcase-carrito"><i
                                        class="fas fa-cart-plus"></i></a>
                                <h4 class="main-article-nombre">
                                    <%=products[i].name%>
                                </h4>
                                <p class="main-article-precio">$<%=products[i].price%>
                                </p>
                                <p class="main-article-descuento">
                                    <%=products[i].stock%> Disponibles
                                </p>
                                <p class="main-article-description">
                                    <%=products[i].description%>
                                </p>
                        </a>
                    </article>
                    <%}%>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>