<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="http://localhost:3333/css/profile.css">
        <title>Usuario - GreenThumb</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="flex">
                <div class="img">
                    <img src="/images/users/profileImages/<%=user.image%>" height="20%" width="20%">
                </div>

                <div class="buttons">
                    <div class="saludo">
                        <h1>¡Saludos, <%=user.first_name%>!</h1>
                    </div>
                    <div class="profile-edit">
                        <a href="/user/edit">
                            <button type="submit">Editar mi perfil</button>
                        </a>
                    </div>
                    <% if (user.user_category_id==1 || user.user_category_id==2) {%>

                        <a href="/product/add" id="credentials-sensitive">
                            <button type="submit">Crear producto</button>
                        </a>
                        <a href="/user/showcase">
                            <button type="submit">Mis productos</button>
                        </a>
                        <% } %>
                            <div class="profile-log-out">
                                <a href="/user/logout">
                                    <button type="submit">Cerrar sesión</button>
                                </a>
                            </div>
                            <a href="/user/delete">
                                <button type="submit">Eliminar cuenta</button>
                            </a>

                </div>




            </div>

        </main>

        <%- include('../partials/footer') %>
</body>

</html>