<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="http://localhost:3333/css/profile.css">
        <title>Usuario - GreenThumb</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="flex">
                <div class="img">
                    <img src="/images/users/profileImages/<%=user.image%>" height="20%" width="20%">
                </div>

                <div class="buttons">
                    <div class="saludo">
                        <h1>¡Saludos, <%=user.first_name%>!</h1>
                    </div>
                    <div class="profile-edit">
                        <a href="/userEdit">
                            <button type="submit">Editar mi perfil</button>
                        </a>
                    </div>
                    <a href="/product/add">
                        <button type="submit">Crear producto</button>
                    </a>
                    <a href="/user/:id/showcase">
                        <button type="submit">Mis productos</button>
                    </a>
                    <div class="profile-log-out">
                        <a href="/">
                            <button type="submit">Cerrar sesión</button>
                        </a>
                    </div>
                    <a href="/">
                        <button type="submit">Eliminar cuenta</button>
                    </a>

                </div>




            </div>

        </main>

        <%- include('../partials/footer') %>
</body>

</html>