<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="http://localhost:3333/css/register.css">
        <title>Usuario - GreenThumb</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <!-- Formularios -->
            <div class="forms-container">
                <!-- Links de los formularios -->
                <ul class="container-tabs">
                    <li class="login-tab"><a href="#login">Iniciar Sesión</a></li>
                    <li class="signUp-tab"><a href="#signUp">Registrarse</a></li>
                </ul>
                <!-- Contenido de los Formularios -->
                <div class="tab-contain">
                    <!-- Iniciar Sesion -->
                    <div id="login">
                        <h1>Iniciar Sesión</h1>
                        <form action="/user/login" method="POST">
                            <div class="input-container">
                                <label>
                                    Usuario <span class="req">*</span>
                                </label>
                                <input type="text" name="username" id="username" required>
                            </div>

                            <div class="input-container">
                                <label>
                                    Contraseña <span class="req">*</span>
                                </label>
                                <input type="password" name="password" required>
                            </div>
                            <div id="remember-container">
                                <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked" />
                                <span id="remember">Recordarme</span>
                            </div>
                            <p class="forgot"><a href="#">¿Olvidaste la contraseña?</a></p>
                            <input type="submit" class="button button-block" value="Iniciar Sesión">
                        </form>
                    </div>

                    <!-- Registrarse -->
                    <div id="signUp">
                        <h1>Registrarse</h1>
                        <form action="/user/register" method="POST" enctype="multipart/form-data">
                            <div class="top-row">
                                <div class="input-container">
                                    <label>
                                        Nombre <span class="req">*</span>
                                    </label>
                                    <input type="text" name="first_name" id="first_name" required
                                        class="form-control <%= locals.errors && errors.first_name ? " is-invalid" :
                                        null %>">
                                    <% if (locals.errors && errors.first_name) { %>
                                        <div class="text-danger">
                                            <%= errors.first_name.msg %>
                                        </div>
                                        <% } %>
                                </div>

                                <div class="input-container">
                                    <label>
                                        Apellido <span class="req">*</span>
                                    </label>
                                    <input type="text" name="last_name" id="last_name" required
                                        class="form-control <%= locals.errors && errors.last_name ? " is-invalid" : null
                                        %>">
                                    <% if (locals.errors && errors.last_name) { %>
                                        <div class="text-danger">
                                            <%= errors.last_name.msg %>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <div class="input-container">
                                <label>
                                    Nombre de Usuario <span class="req">*</span>
                                </label>
                                <input type="text" name="username" id="username" required
                                    class="form-control <%= locals.errors && errors.username ? " is-invalid" : null %>">
                                <% if (locals.errors && errors.username) { %>
                                    <div class="text-danger">
                                        <%= errors.username.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="input-container">
                                <label>
                                    E-mail <span class="req">*</span>
                                </label>
                                <input type="email" name="email" id="email" required
                                    class="form-control <%= locals.errors && errors.email ? " is-invalid" : null %>">
                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger">
                                        <%= errors.email.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="input-container">
                                <select class="form-label" aria-label="Default select example" name="credentials"
                                    id="credentials">
                                    <option selected>Selecciona el tipo de cuenta</option>
                                    <option value="2">¡Quiero vender!</option>
                                    <option value="3">¡Quiero comprar!</option>
                                </select>
                            </div>
                            <div class="input-container">
                                <label>
                                    Contraseña <span class="req">*</span>
                                </label>
                                <input type="password" name="password" id="password" minlength="8" required
                                    class="form-control <%= locals.errors && errors.password ? " is-invalid" : null %>">
                                <% if (locals.errors && errors.password) { %>
                                    <div class="text-danger">
                                        <%= errors.password.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="input-container">
                                <label>
                                    Confirmar Contraseña <span class="req">*</span>
                                </label>
                                <input type="password" name="confirmPassword" required
                                    class="form-control <%= locals.errors && errors.confirmPassword ? " is-invalid" :
                                    null %>">
                                <% if (locals.errors && errors.confirmPassword) { %>
                                    <div class="text-danger">
                                        <%= errors.confirmPassword.msg %>
                                    </div>
                                    <% } %>
                            </div>
                    </div>
                    <div class="input-container">
                        <label for="formFile" class="form-label">Foto de perfil</label>
                        <input class="form-control" type="file" name="formFile" id="formFile">
                    </div>
                    <div class="input-container">
                        <input type="submit" class="button button-block" value="Registrarse">
                    </div>
                    </form>
                </div>
            </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>